{% extends './base_nav.html' %}

{% block title %}
SIGPTAR [Inicio]
{% endblock %}

{% block header %}
<br>
    <h1 style="text-align: center;">Bienvenidos</h1>
{% endblock %}
{% block body %}

<div class="container" style="text-align: center;">
    <h3>DIAGNÓSTICO GENERAL DE LA OPERACIÓN DE PLANTAS DE TRATAMIENTO DE AGUAS RESIDUALES MUNICIPALES CON INFLUENCIA INDUSTRIAL</h3>

    <p>
        Diagnóstico general de operación de plantas de tratamiento de aguas residuales (PTAR)
municipales con influencia industrial conforme a la NOM-001-SEMARNAT-1996 y condiciones
particulares de descarga (CPDs)
    </p>
</div>
{% endblock %}

