<nav id="sidebar">
        <!-- Sidebar Holder 
        <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
      </div>
         -->
      <ul class="list-unstyled components">
        <!-- <p>Dummy Heading</p> 
          class="active"
          -->
          <p></p>
        <li >
          <a href="/inicio">Inicio</a>
        </li>
        <li>
          <a href="/localizacion">Localización e información general >></a>
        </li>
        <li>
          <a href="#diagSubmenu" data-toggle="collapse" aria-expanded="false">Documento diagnóstico</a>
          <ul class="collapse list-unstyled" id="diagSubmenu">
            <li><a href="/diagnostico?seccion=0&titulo_seccion=Portada">Portada</a></li>
            <li><a href="/diagnostico?seccion=1&titulo_seccion=Índice">Indice</a></li>
            <li><a href="/diagnostico?seccion=2&titulo_seccion=Información de la PTAR">Información</a></li>
            <li><a href="/diagnostico?seccion=3&titulo_seccion=Descripción de la PTAR">Descripción</a></li>
            <li><a href="/diagnostico?seccion=4&titulo_seccion=Memoria de cálculo">Memoria de cálculo</a></li>
            <li><a href="/diagnostico?seccion=5&titulo_seccion=Diagnóstico de personal">Diagnóstico de personal</a></li>
            <li><a href="/diagnostico?seccion=6&titulo_seccion=Seguridad">Seguridad</a></li>
            <li><a href="/diagnostico?seccion=7&titulo_seccion=Laboratorio">Laboratorio</a></li>
            <li><a href="/diagnostico?seccion=8&titulo_seccion=Análisis de información histórica">Análisis de información histórica</a></li>
            <li><a href="/diagnostico?seccion=9&titulo_seccion=Trabajo de campo">Trabajo de campo</a></li>
            <li><a href="/diagnostico?seccion=10&titulo_seccion=Desempeño">Desempeño</a></li>
            <li><a href="/diagnostico?seccion=11&titulo_seccion=Anexos">Anexos</a></li>
          </ul>
        </li>
        <li >
          <a href="/datos_personal">Datos del personal</a>
        </li>
        <li >
          <a href="/info_plantas">Lista de información</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Resultados de los muestreos >></a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="/resmuestreo_caudales">Caudales</a></li>
            <li><a href="/resmuestreo_compuesta">Muestra compuesta</a></li>
            <li><a href="/resmuestreo_toxicidad">Toxicidad aguda</a></li>
            <li><a href="/resmuestreo_final">Final</a></li>
          </ul>
        </li>        
        <li>
          <a href="#">DIAGNÓSTICO</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">REPORTES</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </li>
      </ul>  
      <ul class="list-unstyled CTAs">
        <li><a href="" class="article">CAPTURA</a></li>
      </ul>
    </nav>
  